@import './../../../styles.scss';

:host {
    display: flex;
    gap: 16px;
    box-sizing: border-box;
    flex-direction: column;

    @include devices(tablet) {
        align-items: center;
    }
}


.type-selector {
    padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    justify-content: flex-start;

    button {
        border: 1px solid #{$color-light + '11'};
        padding: 4px 8px;
        border-radius: 2px;
        cursor: pointer;
        transition: color .2s, background-color .2s, border-color .2s;

        &.selected {
            background-color: $color-semi-light;
            border-color: $color-semi-light;
            color: $color-dark;
        }
    }

    @include devices(desktop) {
        justify-content: center;
    }
}

.beat-list-wrapper {
    display: grid;
    width: 100%;
    gap: 16px;
    
    @include devices(desktop) {
        grid-template-columns: repeat(4, 1fr);
        app-beat-listitem {
            aspect-ratio: 1;
        }
    }

    @include devices(tablet) {
        grid-template-columns: repeat(3, 1fr);

        app-beat-listitem {
            aspect-ratio: 1;
        }
    }
    
    @include devices(mobile) {
        grid-template-columns: 1fr;
    }

    app-beat-listitem {
        &.unwanted {
            opacity: .6;
        }
    }
}


