@import './../../../styles.scss';


:host {
    height: 66vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: $max-width-header;

    @include devices(mobile) {
        grid-template-columns: 1fr;


        .preview {
            display: none;
        }

        .greeting {

            p {
                font-size: 20px;
            }
        }
    }
}



.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 40px;
        margin-top: 0;

        .addendum {
            font-size: 24px;
            color: $color-medium;
        }
    }

    p {
        font-size: 24px;
        margin: 8px 0;
        color: $color-medium;
    }


}

.preview-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;



    .tracks-wrapper {
        display: flex;
        gap: 8px;


        app-beat-listitem {
            $dimension: 200px;
            display: block;
            width: $dimension;
            height: $dimension;
            box-shadow: 0px 5px 59px -13px #{$color-dark + '77'};

            transition-property: width, height, transform;
            transition-duration: .3s;

            &:hover {
                z-index: 10;
                transform: scale(1.1);
            }

            &:nth-child(1) {
                position: absolute;
                transform: rotate(-10deg) translate(#{($dimension - 50px) * -1}, -10px);
            }

            &:nth-child(2) {
                transform: translateY(-15px);
            }

            &:nth-child(3) {
                position: absolute;
                transform: rotate(10deg) translate(#{$dimension - 50px}, -10px);
            }




        }


    }




}

.image-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    user-select: none;

    img {
        position: absolute;
        bottom: 0;
        z-index: -1;
        opacity: .3;
        min-width: 100%;
        min-height: 100%;
    }
}