<div class="wrapper">
    <div class="greeting">
        <h1>
            <div class="addendum">willkommen bei</div>
            zweipunktnull
        </h1>
        <p class="bold">
            Alle <b>Produktionen, Tracks und Beats</b> auf dieser Seite stehen dir zur <b>freien Verfügung</b>.
            Wenn du Fragen hast oder mit mir arbeiten möchtest, kannst du mich über
            <a class="inline" href="https://instagram.com">Instagram</a> kontaktieren.
        </p>

    </div>
    <div class="preview-wrapper">
        <div class="tracks-wrapper">
            <app-beat-listitem tabindex="0" [beat]="beatList[0]"></app-beat-listitem>
            <app-beat-listitem tabindex="0" [beat]="beatList[1]"></app-beat-listitem>
            <app-beat-listitem tabindex="0" [beat]="beatList[2]"></app-beat-listitem>
        </div>

        <h2><small>new</small> <br> releases</h2>
    </div>
</div>
<div class="image-wrapper">
    <img src="assets/img/pattern_analogue_simple.svg">

</div>