@import './../../../styles.scss';


:host {
    height: 66vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 1px solid white;
    box-sizing: border-box;
    position: relative;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    max-width: $max-width-header;

    @include devices(mobile) {
        grid-template-columns: 1fr;

        .preview {
            display: none;
        }
    }
}



.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 40px;
        margin-top: 0;

        .addendum {
            font-size: 24px;
            color: $color-medium;
        }
    }

    p {
        font-size: 24px;
        margin: 8px 0;
        color: $color-medium;
    }


}

.preview {
    display: flex;
    justify-content: center;
    align-items: center;

    app-beat-listitem {
        width: 230px;
        height: 230px;

        box-shadow: 0px 15px 40px -19px #{$color-semi-light + '44'};
    }
}

.image-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    user-select: none;

    img {
        position: absolute;
        bottom: 0;
        z-index: -1;
        opacity: .3;
        min-width: 100%;
        min-height: 100%;
    }
}