<h1>About</h1>
<h2>What can you do with the music?</h2>
<p>
    Everything.
</p>
<p>
    I offer this service to provide my beats and music for you to use in your projects.
    All Music shared here falls under CC-BY licence.<br>
    This means you are allowed to use them however you like, but you must attribute me in understandable manner in the
    resulting project.
    https://creativecommons.org/about/cclicenses/
</p>

<h2>What can you do with this Site?</h2>
<p>
    This site is OpenSource and falls under MIT licence.
    Used technologies and ressources are <a href="" target="_blank">Angular</a> and <a href="" target="_blank">Jam-Icons</a>
    You can contribute or fork tis project via <a href="" target="_blank">GitHub</a>.
</p>