<h1>About</h1>
<h2>What can you do with my music?</h2>
<p>
    Everything.
</p>
<p>
    I offer this service to provide my music for you to freely use in your projects.
    All Music shared here falls under <a href="https://creativecommons.org/about/cclicenses/" target="_blank">CC-BY
        licence.</a>
    This means you are allowed to use them however you like, but you must attribute me, going by the Artist name Demo,
    in an understandable manner in the
    resulting project.
</p>

<h2>What can you do with my Site?</h2>
<p>
    Also everything
</p>
<p>
    This site is OpenSource and falls under <a target="_blank" href="https://en.wikipedia.org/wiki/MIT_License">MIT licence</a>.
    Used technologies and ressources are 
    <a href="https://angular.io/" target="_blank">Angular</a> and 
    <a href="https://jam-icons.com/" target="_blank">Jam-Icons</a>.
    You can contribute or fork this project via <a href="" target="_blank">GitHub</a>.
</p>