@import '../../../styles.scss';

:host {
    opacity: .6;
    padding-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
}

a {
    color: $color-semi-light;
    text-decoration: none;
}