<ng-container *ngIf="selectedBeat$ | async as beat">
    <h1> {{ beat.name }} </h1>
    <div class="attributes-wrapper">
        {{beat.attributes | list }}s
    </div>
    <div class="description-wrapper" *ngIf="beat.bpm && beat.key && !shareOpen" @fade>
        <span *ngIf="beat.bpm">{{ beat.bpm }} bpm</span>
        <span *ngIf="beat.key">, {{ beat.key }}</span>
    </div>
    <qr-code @fade *ngIf="shareOpen" [value]="url" [darkColor]="'#E2DCC8'" [lightColor]="'#0000'" [margin]="0"
        [size]="150">
    </qr-code>
    <div class="interaction-wrapper">

        <div class="button-wrapper">
            <button (click)="play()" class="play-button">play</button>
            <a [href]="beat.filePath" download>download</a>
            <button (click)="share()" [ngClass]="{'shareOpen': shareOpen}"> share </button>
            <button *ngIf="shareOpen" @fade (click)="copyURL()" class="link-button">{{ copyLinkButtonText }}</button>
        </div>
    </div>
</ng-container>