@import '../../../styles.scss';

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;


    width: 100%;

    a {
        display: block;
        color: $color-light;
        text-decoration: none;
    }

    .title {
        display: flex;
        flex-direction: column;

        h1,
        h2 {
            margin: 0;
        }
    }

    .links {

        svg {
            fill: white;
            display: block;
        }

    }
}