@import '../../../styles.scss';

:host {}

.description-wrapper {
    color: $color-dark;
    height: 100%;

    padding: 16px 8px;
    box-sizing: border-box;
    background-color: $color-semi-light;
    border-radius: $radius-small;
    cursor: pointer;
    transition: transform .2s;
    position: relative;
    background: linear-gradient(175deg, $color-light 0%, $color-light 45%, $color-semi-light 100%);

    &:hover,
    &:focus {
        transform: scale(1.03);
    }

    .name {
        font-family: 'SourceCode SemiBold';
        font-size: larger;
        margin-bottom: 16px;
    }

    .attributes {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-top: 1px solid #{$color-dark + '22'};

        span {
            border-left: 1px solid #{$color-dark + '22'};
            padding: 4px 8px;
        }

        @include devices(mobile) {
            flex-direction: row;

        }


    }
}