@import './../../../styles.scss';

:host {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.wrapper {
    max-width: $max-width;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 8px;
}

.type-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    box-sizing: border-box;
    opacity: .6;
    transition: opacity .3s;

    svg {
        fill: #{$color-semi-light + '88'};
    }

    &:hover,
    &:focus-within {
        opacity: 1;
    }

    span {
        padding: 4px;
        color: $color-semi-light;
        font-weight: bolder;
        display: inline-flex;
    }

    button {
        padding: 4px 8px;
        height: 32px;

        background-color: #{$color-semi-light + '11'};
        color: $color-semi-light;
        border-radius: $radius-small;
        cursor: pointer;
        transition: color .2s, background-color .2s, border-color .2s;
        display: inline-flex;

        gap: 4px;

        svg {
            fill: $color-dark;

        }

        &.selected {
            background-color: $color-semi-light;
            border-color: $color-semi-light;
            color: $color-dark;
        }
    }

}

.beat-list-wrapper {
    display: grid;
    width: 100%;
    gap: 16px;
    box-sizing: border-box;

    @include devices(desktop) {

        grid-template-columns: repeat(4, 1fr);

        app-beat-listitem {
            aspect-ratio: 1;
        }
    }

    @include devices(tablet) {
        grid-template-columns: repeat(3, 1fr);


        app-beat-listitem {
            aspect-ratio: 1;
        }
    }

    @include devices(mobile) {
        grid-template-columns: 1fr;
    }

    app-beat-listitem.unwanted {
        opacity: .6;
    }
}