:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

::ng-deep {
    app-header {
        width: 100%;
        min-height: 66vh;
    }
    app-beatselector {
        width: 100%;
        max-width: 800px;
    }
}