:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 800px;
}

::ng-deep {
    app-header {
        width: 100%;
        min-height: 66vh;
    }
    app-beatselector {
        width: 100%;
    }
}