
@font-face {
    font-family: SourceCode Regular;
    src: url('./assets/SourceCodePro-Regular.ttf');
}

@font-face {
    font-family: SourceCode SemiBold;
    src: url('./assets/SourceCodePro-SemiBold.ttf');
}

body {
    margin: 16px;
    font-family: 'SourceCode Regular';
}

button {
    border: none;
    background-color: #0000;
    margin: 0;
    padding: 0;
    font-size: medium;
    font-family: 'SourceCode Regular';
}

h1 {
    font-family: SourceCode SemiBold;
}

