@font-face {
  font-family: SourceCode Regular;
  src: url('./assets/SourceCodePro-Regular.ttf');
}

@font-face {
  font-family: SourceCode SemiBold;
  src: url('./assets/SourceCodePro-SemiBold.ttf');
}

$color-dark: #100F0F;
$color-semi-dark: #0F3D3E;
$color-medium: #7e7e7e;
$color-light: #F1F1F1;
$color-semi-light: #E2DCC8;



$max-width-header: 1920px;
$max-width: 1200px;



@mixin devices ($breakpoint) {
  @if $breakpoint ==desktop {
    @media only screen and (min-width: 900px) {
      @content;
    }
  }


  @if $breakpoint ==tablet {
    @media only screen and (max-width: 900px) and (min-width: 550px) {
      @content;
    }
  }

  @if $breakpoint ==mobile {
    @media only screen and (max-width: 550px) {
      @content;
    }
  }
}

body {
  margin: 0;
  font-family: 'SourceCode Regular';
  background-color: $color-dark;
  color: $color-light;

  p {
    line-height: 1.5em;

  }
}

svg {
  display: block;
}

button {
  border: none;
  background-color: #0000;
  margin: 0;
  padding: 0;
  font-size: medium;
  font-family: 'SourceCode Regular';
  color: #{$color-light + 'aa'};
  cursor: pointer;

}

h1 {
  font-family: 'SourceCode SemiBold';
}